.button:hover {
    color: blue;
    border: 2px solid blue;
    background-color: white;
}

.footer {
    height: 40px;
    background-color: rgb(200, 200, 200);
}

.caption {
    color: rgb(100, 100, 100);
    font-size: 13px;
    margin: 4px 0;
}

.mainContainer {
    height: 60vh;
    overflow-y: scroll;
}

.image {
    width: 90%;
}

.edit-icon:hover {
    color: blue;
    cursor: pointer;
}

.delete-icon:hover {
    color: red;
    cursor: pointer;
}